* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
    padding: 2rem;
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 0.05em
}

p {
    margin: 0 0 1em;
}

strong {
    font-weight: 700;
}

a {
    color: #000;
}

section {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

article {
    flex: 1 1 300px;
    padding: 2rem;
    background-color: #f9f9f9;
}


@media (max-width: 767px) {
    article:first-child {
        flex: 2 1 400px;
        font-size: 1.25em;
    }
}

h2 {
    margin: 0 0 0.2em;
    line-height: 1.2;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 2rem;
}

.description {
    color: #666;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.price {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #666;
}